
@{
    Layout = null;
}

<!--
Author: Colorlib
Author URL: https://colorlib.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<script src="~/Content/scripts/BirthDate.js"></script>*@
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->

    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
    <script>
        $("#login-button").click(function (event) {
            event.preventDefault();
            $("form").fadeOut(500);
            $(".wrapper").addClass("form-success");
        });
    </script>
    <style>
        .select-css {
            display: block;
            font-size: 13px;
            font-family: sans-serif;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            width: 250px;
            height: 30px;
            max-width: 350px;
            box-sizing: border-box;
            margin-left: 175px;
            margin-bottom: 25px;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            border-radius: .5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }

            .select-css::-ms-expand {
                display: none;
            }

            .select-css:hover {
                border-color: #888;
            }

            .select-css:focus {
                border-color: #aaa;
                box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
                box-shadow: 0 0 0 3px -moz-mac-focusring;
                color: #222;
                outline: none;
            }

            .select-css option {
                font-weight: normal;
            }
    </style>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
</head>

<body class="back">

    <div class="wrapper">
        <div class="container">
            <h1>Sing Up</h1>
            <form action="/AppUser/Account/SignUp" method="post" enctype="multipart/form-data" role="form">
                @Html.AntiForgeryToken()
                @*<div class="form-group has-feedback">
            <input type="text" name="FirstName" class="form-control" placeholder="First Name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>*@
                @*<div class="form-group has-feedback">
            <input type="text" name="LastName" class="form-control" placeholder="Last Name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            @Html.ValidationMessageFor(m => m.LastName)
        </div>*@

                <div class="form-group has-feedback">
                    <input type="text" name="UserName" class="form-control" placeholder="UserName">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @*@Html.ValidationMessageFor(m => m.UserName)*@
                </div>

                <div class="form-group has-feedback">
                    <input type="email" name="Email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @*@Html.ValidationMessageFor(m => m.Email)*@
                </div>

                <div class="form-group has-feedback">
                    <input type="password" name="Password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @*@Html.ValidationMessageFor(m => m.Password)*@
                </div>
                <div class="form-group">
                    <label for="Image">Fotoğraf</label>
                    <input type="file" name="Image" value="" class="form-control" />
                </div>
                @*<div>
            <input class="form-control" type="password" name="ConfirmPassword" placeholder="Confirm Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>

        @*<div class="form-group has-feedback"  >
               <label>Birth Date</label>
                <SELECT id="date" name="dd" class="form-control" ></SELECT>
                <script type="text/javascript">date_populate("date", "month", "year");</script>
                <SELECT id="month" name="mm" class="form-control"></SELECT>
                <script type="text/javascript">date_populate("date", "month", "year");</script>
                <SELECT id="year" name="yyyy" class="form-control"></SELECT>
                <script type="text/javascript">date_populate("date", "month", "year");</script>
            </div>*@
                @*<div class="form-group">
            <label for="Gender"><h3>Gender</h3></label>
            <select name="Gender" class="select-css">
                @foreach (var item in Enum.GetNames(typeof(ISahaf.Core.Enum.Gender)))
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>*@

                @*<div class="wthree-text">       For policy
            <label class="anim">
                <input type="checkbox" class="checkbox" required="">
                <span>I Agree To The Terms & Conditions</span>
            </label>
            <div class="clear"> </div>
        </div>*@
                <button type="submit" id="login-button">Sing Up</button>
                <div id="validation-summary" class="@TempData["class"]">
                    @*@Html.ValidationSummary(false)*@
                    <div id="credentials-error">
                        @ViewData["error"]
                    </div>
                </div>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>


</body>
</html>